
.riot-button {
  display: flex;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  font-family: 'Gabarito';
  font-size: 30px;
  color: #111;
  align-items: center;
  cursor: pointer;
  background-image: url('../assets/graphics/cta-lol-blank-red.png');
  background-size: contain;
  transition: background-image 0.1s linear; 
  background-repeat: no-repeat;
  height: 180px;
  width: 388px;
  box-sizing:border-box;
}



.riot-button:hover {
  background-image: url('../assets/graphics/cta-lol-blank-hover.png');
  /* transform: scale(1.1); */
}

.big-window {
  position: flex;
  /* background-color: rgba(17, 17, 17, 0.6); */
  background-color: #1c2229;
  border: 2px solid #F1CE72;
  margin-top: 8vh; 
  height: 100vh;
  width: 98vw;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y:auto; 
  max-height: 90vh; 
  transition: right 0.3s;
  z-index: 9999;
}

.close-button {
  position: absolute;
  top: 11%; 
  right: 2%;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px; 
  text-align: center;
  text-decoration: none;
  font-size: 1vw; 
  cursor: pointer;
}


.create-champion-button{
  padding: 20px 30px 20px 30px;
  background-color: #1c2229;
  color:#F1CE72;
  border: 1px solid #F1CE72;
  font-family: 'LeagueFont';
  font-size: 20px;
}

.create-champion-button:hover{
  background-color: #f5f1e6;
  color: #1c2229;
  cursor: pointer;
}

.animate-button {
  opacity: 0; /* Initially, the button is invisible */
  transform: translateY(10px); /* Start position off-screen */
  transition: opacity 0.5s, transform 0.5s;
}

.animate-button.show {
  opacity: 1; /* When the button is visible, set opacity to 1 */
  transform: translateY(0); /* Animate to the final position */
}
