/* BigButtonComponent.css */

/* Riot Games-style button */
.riot-button {
  display: flex;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  font-family: 'Gabarito';
  font-size: 30px;
  color: black;
  align-items: center;
  cursor: pointer;
  background-image: url('../assets/graphics/cta-lol-blank.png');
  background-size: contain;
  transition: background-image 0.1s linear; /* Add a transition effect */
  background-repeat: no-repeat;
  height: 189px;
  width: 400px;
  box-sizing:border-box;
  border: 3px solid #111;
}

.riot-button:hover {
  background-image: url('../assets/graphics/cta-lol-blank-hover.png');
  transform: scale(1.1);
}

/* Styles for the large window */
.big-window {
  position: fixed;
  top: 50%;
  border-radius: 2vw; /* Use vw units for border radius to scale with window size */
  left: 0; /* Move the window to the right edge of the screen */
  transform: translate(0, -50%);
  background-color: rgba(17, 17, 17, 0.2);
  backdrop-filter: blur(1vw); /* Use vw units for blur effect to scale with window size */
  border: 1px solid #ccc;
  padding: 2vw; /* Use vw units for padding to scale with window size */
  margin: 2vh 2vw; /* Use vw and vh units for margin to scale with window size */
  height: 80vh;
  width: 40vw;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto; /* Add vertical scrollbar if content overflows */
  max-height: 80vh; /* Limit the maximum height to the viewport height */
  transition: right 0.3s; /* Adjust transition property to "right" */
}

/* Close button inside the window */
.close-button {
  position: absolute; /* Position the button absolutely within the window */
  top: 1vw; /* Adjust top value to position the button at the top */
  right: 1vw; /* Adjust right value to position the button at the right */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px; /* Use vw units for padding to scale with window size */
  text-align: center;
  text-decoration: none;
  font-size: 1vw; /* Use vw units for font size to scale with window size */
  cursor: pointer;
}