@font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
        format("woff2"),
      url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
      url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
  }
  .main,
  .main input {
    font-size: 16px;
    line-height: 24px;
    justify-content: space-evenly;
    margin: 10px;
    color: #353740;
    font-family: "ColfaxAI", Helvetica, sans-serif;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width:100%;
  }
  .main .icon {
    width: 34px;
  }
  .main h3 {
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    font-weight: bold;
    color: #fff;
    margin: 16px 0 40px;
  }
  .main form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .main input[type="text"] {
    padding: 12px 16px;
    border: 2px solid #F1CE72;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: #fff;
    justify-self: center;
    background-color: #333333;
    margin: auto;
    margin-bottom: 24px;
    outline-color: #333333;
    width: 30vw;
  }
  .main ::placeholder {
    color: #8e8ea0;
    opacity: 1;
  }
  .main input[type="submit"] {
    padding: 12px 50px;
    color: #fff;
    background-color: #d9534f;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
  }
  .main .result {
    font-weight: bold;
    margin-top: 40px;
  }

  .main input[type="submit"]:hover {
    background-color: #24D4EF;
    color: white;
  }

  .question-navigation{
    display: flex;
  }
  
  .main input[type="button"] {
    color: #F1CE72;
  }

    
  .main input[type="button"]:hover {
    background-color: rgba(17, 17, 17, 0.9);
  }