.champion-description{
  width: 50%;
  color: white;
  font-size: medium;
}

.champion-ability-q{
  color: black;
}

@media screen and (max-width: 800px) {
  .screen-change{
    display: grid;
    font-size: 2px;
  }
}


.container {
  display: flex;
  flex-direction: column;
}
