.champion-description{
  width: 80%;
  color: white;
  font-size: medium;
}

.champion-ability-q{
  color: black;
}

@media screen and (max-width: 900px) {
  .screen-change-text {
    font-size: 2px; 
  }
}

.container{
  display: flex;
}