.champion-description{
  width: 50%;
  color: white;
  font-size: medium;
}

.champion-ability-q{
  color: black;
}

@media screen and (max-width: 900px) {
  .screen-change-text {
    font-size: 2px; 
  }
  .screen-change{
    display: grid;
  }
}

.container {
  display: flex;
  flex-direction: column;
}
