/* Riot Games-style button */
.start-button {
    padding: 12px 50px;
    color: #fff;
    background-color: #d9534f;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
  }