
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-size: cover;
  }
  .entry-list {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  /* Style individual entries */
  .entry {
    background-color: rgba(255, 255, 255, 0.9); /* Add transparency to the background */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-family: 'LeagueFont', Arial, sans-serif; /* Use the League of Legends font or a similar one */
    color: #333;
    text-align: center;
    transition: transform 0.2s ease;
    cursor: pointer;
    width: 100%;
  }
  
  .entry:hover {
    transform: scale(1.02); /* Add a hover effect to enlarge the entry */
  }
  
  .entry h2 {
    font-size: 24px;
    margin: 0 0 10px;
    color: #333; /* Adjust text color */
  }
  
  .entry p {
    font-size: 16px;
    color: #333; /* Adjust text color */
  }
  
  /* Style action buttons */
  .entry-actions {
    margin-top: 10px;
  }
  
  .entry-action {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .entry-action:hover {
    background-color: #2980b9;
  }
  @font-face {
    font-family: 'LeagueFont';
    src: url('../../public/fonts/BeaufortforLOL-Medium.woff') format('woff'); /* Adjust the format and path */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gabarito';
    src: url('../../public/fonts/Gabarito-SemiBold.ttf') format('truetype'); /* Use 'truetype' format for TTF fonts */
    font-weight: normal;
    font-style: normal;
  }
  
  
  video{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body{
    overflow-x: hidden;
    overflow-y: hidden;
    /* background-image: url('./assets/images/splash/ziggs-bg.jpg'); */
    /* animation: changeBG 60s infinite ease-in-out;
    animation-fill-mode: forwards; */
    background-size: cover;
    background-repeat: no-repeat;
    transition: 2s;
    height: 100vh;
    width: 100%;
  }

  /* @keyframes changeBG {
    20%{
      background-image: url('./assets/images/splash/ezreal-splash.jpg');
    }
    40%{
      background-image: url('./assets/images/splash/kogmaw-lulu-splash.jpg');
    }
    60%{
      background-image: url('./assets/images/splash/poolparty.jpg');
    }
    80%{
      background-image: url('./assets/images/splash/zed-splash.jpg');
    }
    100%{
      background-image: url('./assets/images/splash/tahmkench-splash.jpg');
    }
  } */